{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Post{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      <hr>
      {% if g.user['id'] in like_list %}
      <p class="likes">You liked this. Likes: {{ likes[0] }} <a href="{{ url_for('blog.unlike', id=post['id'], user_id=g.user['id']) }}">Unlike this.</a></p>
      {% else %}
      <p class="likes">Likes : {{ likes[0] }} <a href="{{ url_for('blog.like', id=post['id'], user_id=g.user['id']) }}">Like this.</a></p>
      {% endif %}
    </article>
{% endblock %}
